<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'mexlove.jpg', class: 'img-fluid' %>
    <div class="container">
        <div class="carousel-caption d-none d-md-block text-left">
          <h1>Example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'brady-wife.jpg', class: 'img-fluid' %>
    <div class="container">
        <div class="carousel-caption d-none d-md-block">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'Sheet-Music.jpg', class: 'img-fluid' %>
      <div class="container">
        <div class="carousel-caption d-none d-md-block text-right">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="text-center">
  <button type="button" class="btn btn-secondary mb-5 text-center" data-toggle="modal" data-target="#exampleModalLong">
    Sign In With Google
  </button>
</div>



<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag 'club-pink.jpg', class: 'rounded-circle w-50 h-50 img-fluid' %>
      <h2>Save Memories</h2>
      <p>Never forget where you've been, where you come from, and the struggles that made you who you are today. Embrace and save those precious times in your life. Whether good or bad!</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag 'family.png', class: 'rounded-circle w-50 h-50 img-fluid' %>
    <h2>Back In Time</h2>
      <p>Reminise on pass romances, adventures, travel experience, and much more to come. Let Remember Me be your safe haven and judge free zone. This is your life and it should have no limitation on what you want to store. Come join us to experience tour own time capsule live!</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag 'babygirl.jpg', class: 'rounded-circle w-50 h-50 img-fluid' %>
      <h2>Family Legacy</h2>
      <p>Some people aren't fortunate enough to have a chance to know the history. In order to know where your going you have to know where you came from. Strength comes from within and we all have the right to a legacy or ancestry. Remember Me allows you start those memories and pass them down digitally!</p>
    </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->

  <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">JOIN US! <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">"What Are You Waiting For! Time Is Too Short!"</p>
        </div>
        <div class="col-md-5">
        <%= image_tag 'young-black.jpg', class: 'featurette-image img-fluid h-75 w-75 rounded' %>
        </div>
      </div>


      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
<footer>
  <p class="float-right"><a href="/">Back to top</a></p>
  <p>&copy; 2017 Remember Me, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

</div><!-- /.container -->



<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Join Us and Start Your Memories
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="text-center"><%= link_to  "Sign In", "/auth/google_oauth2", id: "sign_in", class: 'btn btn-outline-primary mt-5' %></div>
      </div>
    </div>
  </div>
</div>
